@model IEnumerable<MyBookingRoles.Models.BookingModels.Booking>
@{
    ViewBag.Title = "Customer Bookings";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@using (Html.BeginForm("customerBookings", "customerBooking", FormMethod.Get))
{
    <div class="row" style="background-color: black; padding: 10px;">
        <div class="col-md-2">Bookings Sort</div>
        <div style="text-align:center;">
            @Html.ActionLink("Processing Bookings", "customerBookings", "customerBooking", new { searchWord = "Processing" }, new { @class = "btn  btn-primary" }) |
            @Html.ActionLink("Approved Bookings", "customerBookings", "customerBooking", new { searchWord = "Approved" }, new { @class = "btn  btn-success" }) |
            @Html.ActionLink("Completed Bookings", "customerBookings", "customerBooking", new { searchWord = "Delivered" }, new { @class = "btn  btn-danger" }) |
            @Html.ActionLink("Refresh", "customerBookings", "customerBooking", null, new { @class = "btn  btn-primary" })
        </div>
    </div>
}
<br />

<h3 style="border-top:1px solid black;">
    <b>
        <u>All Your Bookings : @Model.Count()</u>
        @*<u class="pull-right">@Html.ActionLink("BIN", "#",null, new { @class="glyphicon-bishop"})</u>*@
    </b>
</h3>
<table class="table table-responsive table-hover table-condensed" ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Service.ServiceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtistID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Status != "Cancelled")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.ServiceType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.BookingID }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    }

</table>
@Html.ActionLink("Back To Dashboard", "Index", "MyUser", null, new { @class = "btn btn-primary" })
